.theme-pub-gren {
    --bg-dark: #0F1B14;
    --bg-card: #1A2A1F;
    --bg-elevated: #243629;

    --primary: #D4AF37;
    --primary-light: #E6C65C;

    --text-light: #F8FAFC;
    --text-muted: #A3B18A;

    --border-color: rgba(212,175,55,.18);
}

.theme-pub-green body::before {
    background:
    radial-gradient(circle at top,
    rgba(212,175,55,.08),
    #0F1B14 70%);
}
